.homepage {
  background-color: #78a1bb;
}
button {
  background-color: wheat;
  font-family: 'Mohave', sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  margin: 20px;
  padding: 6px;
  transition-duration: 0.4s;
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

.homepagetitle {
  color: white;
  font-family: Bree Serif;
  font-size: 72px;
  text-align: center;
  padding-bottom: 10px;
}

.images-grid {
  grid-column-start: auto;
  justify-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  flex: content;
  grid-template-columns: repeat(3);
  /* margin: 0 16px 16px 16px; */
  columns: 3;
  row-gap: 1px;
}

img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  margin: 15px;
}

img:hover {
  opacity: 0.7;
}
