.homepage {
  background-color: #78a1bb;
}

.homepagetitle {
  color: white;
  font-family: 'Libre Bodoni', serif;
  font-size: 72px;
  text-align: center;
  padding-bottom: 10px;
}

.images-grid {
  grid-column-start: auto;
  justify-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  flex: content;
  grid-template-columns: repeat(3);
  /* margin: 0 16px 16px 16px; */
  columns: 3;
  row-gap: 1px;
}

img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  margin: 15px;
}

img:hover {
  opacity: 0.7;
}
